<footer class="bg-gray-800 text-white py-8 px-5">
    <div class="container flex flex-wrap justify-between">
      <div class="w-full md:w-[23%] mb-8 md:mb-0">
        <h4 class="text-lg font-semibold  mb-4">About Us</h4>
        <p class="w-[85%]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris condimentum nulla ac velit
          ultrices.</p>
      </div>
      <div class="w-full md:w-[23%] mb-8 md:mb-0">
        <h4 class="text-lg font-semibold mb-4">Contact Us</h4>
        <p>123 Main Street, City</p>
        <p>info@example.com</p>
        <p>(123) 456-7890</p>
      </div>
      <div class="w-full md:w-[23%] mb-8 md:mb-0">
        <h4 class="text-lg font-semibold mb-4">Quick Links</h4>
        <ul>
          <li><a href="/render/home">Home</a></li>
          <li><a href="/user/cart">Cart</a></li>
          <li><a href="mailto:devrajrathor143@gmail.com?subject=Shopidev">Contact</a></li>
        </ul>
      </div>
      <div class="w-full md:w-[20%] mb-8 md:mb-0">
        <h4 class="text-lg font-semibold mb-4">Follow Us</h4>
        <div class="flex items-center">
          <a href="#" class="mr-4"><i class="ri-facebook-line"></i></a>
          <a href="#" class="mr-4"><i class="ri-twitter-line"></i></a>
          <a href="#" class="mr-4"><i class="ri-instagram-line"></i></a>
          <a href="#" class="mr-4"><i class="ri-linkedin-line"></i></a>
        </div>
      </div>
    </div>
    <div class="border-t border-gray-700 mt-8 pt-8 text-center">
      <p>&copy; 2024 ShopiDev. All rights reserved.</p>
    </div>
  </footer>
</div>
</body>

</html>