<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your eCommerce Website</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    .scrollbar::-webkit-scrollbar{
      display: none;
    }

  </style>
</head>

<body>
  <div class="main bg-gray-100 w-full ">
    <header class="bg-white shadow w-full">
      <!-- Navbar -->
      <nav class="container w-full mx-auto flex items-center justify-between py-4 px-3">
        <!-- Logo -->
        <a href="/render/home" class="text-xl font-bold text-gray-800">ShopiDev</a>
        <!-- Navigation Menu -->

        <ul class="flex space-x-4">
          <li><a href="/render/sell" class="text-gray-800 hidden md:inline-block font-medium hover:text-gray-600">Sell</a></li>
          <li><a href="/user/cart" class="text-gray-800 hidden md:inline-block font-medium hover:text-gray-600"><i
                class="ri-shopping-cart-line"></i>
              Cart</a></li>
          <a href="/user/profile"
            class="inline-block ext-gray-800 font-medium hover:text-gray-600 h-8 aspect-square bg-red-500 rounded-full overflow-hidden">
            <img class="h-full w-full object-cover" src="/images/<%=loggedUser.profileImg%>" alt="">
          </a>
        </ul>
      </nav>
    </header>