<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main h-screen w-full flex bg-blue-100 items-center justify-center">
      <form action="/passport/login" method="post" class="register shadow-2xl  flex flex-col  justify-center gap-2 p-5 bg-blue-100 rounded-lg  w-[27%]">
        <label class="font-medium " for="">Username</label>
        <input name="username" class="px-2 py-1 rounded mb-3 placeholder:text-blue-300 placeholder:italic font-medium text-blue-600 bg-transparent ring-2 ring-offset-2 ring-offset-blue-200 ring-blue-400 outline-none" type="text" required placeholder="username">
        <label class="font-medium " for="">Password</label>
        <input name="password" class="px-2 py-1 rounded mb-3 placeholder:text-blue-300 placeholder:italic font-medium text-blue-600 bg-transparent ring-2 ring-offset-2 ring-offset-blue-200 ring-blue-400 outline-none" type="password" required placeholder="password">
        <input class="px-4 py-2 w-max mx-auto rounded bg-blue-500 text-white cursor-pointer font-medium" type="submit" value="Login">
        <p class="text-center font-medium ">Dont't have a account? <a class="text-blue-600" href="/">Register</a> OR <a href="/google/login/federated/google" class="text-blue-600 bg-blue-200 p-1 px-2 rounded shadow-xl block w-fit mx-auto mt-3"><i class="ri-google-fill"></i>(only buyer)</a></p>
        
      </form>
    </div>
</body>
</html>